choose-mirror-bin mirror/http/proxy string
d-i base-installer/kernel/override-image string linux-server
d-i clock-setup/utc boolean true
d-i clock-setup/utc-auto boolean true
d-i finish-install/reboot_in_progress note
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i partman-auto/disk string /dev/sda
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true
d-i pkgsel/include string openssh-server cryptsetup build-essential libssl-dev libreadline-dev zlib1g-dev linux-source dkms nfs-common
d-i pkgsel/install-language-support boolean false
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade
d-i time/zone string UTC
tasksel tasksel/first multiselect standard, ubuntu-server

d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string us
d-i keyboard-configuration/modelcode string pc105
d-i debian-installer/locale string en_US.UTF-8

### Account setup
# Skip creation of a root account (normal user account will be able to
# use sudo).
d-i passwd/root-login boolean false

# To create a normal user account.
d-i passwd/user-fullname string Grazzer
d-i passwd/username string grazzer
# Normal user's password, either in clear text
d-i passwd/user-password password Oranges55!
d-i passwd/user-password-again password Oranges55!

# Create grazzer user account.

d-i preseed/late_command string \
    in-target sed -i 's/^%sudo.*$/%sudo ALL=(ALL:ALL) NOPASSWD: ALL/g' /etc/sudoers; \
    in-target /bin/sh -c "echo 'Defaults env_keep += \"SSH_AUTH_SOCK\"' >> /etc/sudoers"; \
    in-target mkdir -p /home/grazzer/.ssh; \
    in-target /bin/sh -c "echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC83haFuaCho61nN9+at1oBip/aq6jEvR5KceqANeZXVfe3Yje2Zec4PR/bYQME6HEaN4Kdc3cakOimZNxbdCZRzMp8QAX/KmT/A2lQnHWiRrqgxdZ7m12imD7i1NvjItmqo4CaZDHrEHsiaMBVqsLZ+wxK+6dLvcgpeCghBJj0iEGT+XEIn+uGZEkvyFC/HsKQjB6PGff3caDXPB/MVcwV5/1rYolbY8jCCWwOSIXsPIp5hjA1leqAE1aE5uBUxPmO2p59mPTC/MHjwNeXyIng4kzQxLhyp1QMJ6Bm4CDcCge9qYg3CNfFiZtlru/emnp6YXEVyz6x+Tmg0MoxTCfL HASHISTACK-grazzer-USER-KEY' >> /home/grazzer/.ssh/authorized_keys"; \
    in-target chown -R grazzer:grazzer /home/grazzer/; \
    in-target chmod -R go-rwx /home/grazzer/authorized_keys; \
    in-target sed -i 's/PermitRootLogin yes/PermitRootLogin no/g' /etc/ssh/sshd_config; \
    in-target sed -i 's/#PasswordAuthentication yes/PasswordAuthentication no/g' /etc/ssh/sshd_config;