choose-mirror-bin mirror/http/proxy string
d-i base-installer/kernel/override-image string linux-server
d-i clock-setup/utc boolean true
d-i clock-setup/utc-auto boolean true
d-i finish-install/reboot_in_progress note
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i partman-auto/disk string /dev/sda
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true
d-i pkgsel/include string openssh-server cryptsetup build-essential libssl-dev libreadline-dev zlib1g-dev linux-source dkms nfs-common
d-i pkgsel/install-language-support boolean false
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade
d-i time/zone string UTC
tasksel tasksel/first multiselect standard, ubuntu-server

d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string uk
d-i keyboard-configuration/modelcode string pc105
d-i debian-installer/locale string en_UK.UTF-8

### Account setup
# Skip creation of a root account (normal user account will be able to
# use sudo).
d-i passwd/root-login boolean false

# To create a normal user account.
d-i passwd/user-fullname string IaCUser
d-i passwd/username string iac4me
# Normal user's password, either in clear text
d-i passwd/user-password password Oranges55!
d-i passwd/user-password-again password Oranges55!

# Create grazzer user account.

d-i preseed/late_command string \
    in-target sed -i 's/^%sudo.*$/%sudo ALL=(ALL:ALL) NOPASSWD: ALL/g' /etc/sudoers; \
    in-target /bin/sh -c "echo 'Defaults env_keep += \"SSH_AUTH_SOCK\"' >> /etc/sudoers"; \
    in-target mkdir -p /home/iac4me/.ssh; \
    in-target /bin/sh -c "echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDjl04I25au9RmN+LQTu1Ih3xQkT6OGc1qFsyaPrO3/9lbvudJWHkldcO7DzQIK4cb4cwmX+z2I+Xy53heXdJdAXDSwwjb42MVunLtY6j3KxyUeeLtyMfgcNBiPAraoLkLUSHHHuOKi2vqeSm8zovACBRDn1WDtkQ+CSKQWbaQuSfiBa2FkFVUWIJbaVDR0XAbugtBVNjSMHfBlTg+kdRJOYa8eb6U8RMZJlaP5RDEOZae7zpaiAoUqb5go7iSa/gB+uwNR9XseZggLJqHS4QHdX+IiMP0iW20WlEPImW+/ScuDyNjlg3sDwPPh9gS8fl8VhhOCkkc5LxmxPDUbm2mj4LQTV3oeLpHs1vK50jkqQr6RCYUka7sdACBo8GUH6rKTymhRPhy0MSSbVl3ECHqf4dTE4NCB4oJ/7Pugg13l5EWY81HHEDjtdvGSPNsNZV6m21dRk94lIcC2VaIdF3R0UvhD7gUryQqMifro5F1RNODFzA9Q/4Iu4J8XYDeRpMEa6zBz6AUcaGfcjiBxprZE6HAN1P+Wr9RfDv6CFpKU2GMk9zHPGwvv46hvJYIPi2flJlxhCflOq9H6THPz7hPpZdVQC0YXNqzAj1XuHU5ASCC0cL35C6vZ6sqHSFO/Gy3zouLxf66wn2RZYwL0gOPZd8cCTGQV6ZSb3XBrHcvSJw== hashistack-iac4me-USER-KEY' >> /home/iac4me/.ssh/authorized_keys"; \
    in-target chown -R iac4me:iac4me /home/iac4me/; \
    in-target chmod -R go-rwx /home/iac4me/.ssh/authorized_keys; \
    in-target sed -i 's/PermitRootLogin yes/PermitRootLogin no/g' /etc/ssh/sshd_config; \
    in-target sed -i 's/#PasswordAuthentication yes/PasswordAuthentication no/g' /etc/ssh/sshd_config;